<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hnist.graduation.mapped.AdministratorMapper" >
  <resultMap id="BaseResultMap" type="com.hnist.graduation.entity.Administrator" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="ADMINID" property="adminid" jdbcType="VARCHAR" />
    <result column="ADMINUSERID" property="adminuserid" jdbcType="VARCHAR" />
    <result column="ADMINPASSWORD" property="adminpassword" jdbcType="VARCHAR" />
    <result column="ADMINREALNAME" property="adminrealname" jdbcType="VARCHAR" />
    <result column="ADMINEMAIL" property="adminemail" jdbcType="VARCHAR" />
    <result column="ADMINTEL" property="admintel" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, ADMINID, ADMINUSERID, ADMINPASSWORD, ADMINREALNAME, ADMINEMAIL, ADMINTEL
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hnist.graduation.entity.AdministratorExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from administrator
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from administrator
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from administrator
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hnist.graduation.entity.AdministratorExample" >
    delete from administrator
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hnist.graduation.entity.Administrator" >
    insert into administrator (ID, ADMINID, ADMINUSERID, 
      ADMINPASSWORD, ADMINREALNAME, ADMINEMAIL, 
      ADMINTEL)
    values (#{id,jdbcType=INTEGER}, #{adminid,jdbcType=VARCHAR}, #{adminuserid,jdbcType=VARCHAR}, 
      #{adminpassword,jdbcType=VARCHAR}, #{adminrealname,jdbcType=VARCHAR}, #{adminemail,jdbcType=VARCHAR}, 
      #{admintel,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hnist.graduation.entity.Administrator" >
    insert into administrator
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="adminid != null" >
        ADMINID,
      </if>
      <if test="adminuserid != null" >
        ADMINUSERID,
      </if>
      <if test="adminpassword != null" >
        ADMINPASSWORD,
      </if>
      <if test="adminrealname != null" >
        ADMINREALNAME,
      </if>
      <if test="adminemail != null" >
        ADMINEMAIL,
      </if>
      <if test="admintel != null" >
        ADMINTEL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="adminid != null" >
        #{adminid,jdbcType=VARCHAR},
      </if>
      <if test="adminuserid != null" >
        #{adminuserid,jdbcType=VARCHAR},
      </if>
      <if test="adminpassword != null" >
        #{adminpassword,jdbcType=VARCHAR},
      </if>
      <if test="adminrealname != null" >
        #{adminrealname,jdbcType=VARCHAR},
      </if>
      <if test="adminemail != null" >
        #{adminemail,jdbcType=VARCHAR},
      </if>
      <if test="admintel != null" >
        #{admintel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hnist.graduation.entity.AdministratorExample" resultType="java.lang.Integer" >
    select count(*) from administrator
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update administrator
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.adminid != null" >
        ADMINID = #{record.adminid,jdbcType=VARCHAR},
      </if>
      <if test="record.adminuserid != null" >
        ADMINUSERID = #{record.adminuserid,jdbcType=VARCHAR},
      </if>
      <if test="record.adminpassword != null" >
        ADMINPASSWORD = #{record.adminpassword,jdbcType=VARCHAR},
      </if>
      <if test="record.adminrealname != null" >
        ADMINREALNAME = #{record.adminrealname,jdbcType=VARCHAR},
      </if>
      <if test="record.adminemail != null" >
        ADMINEMAIL = #{record.adminemail,jdbcType=VARCHAR},
      </if>
      <if test="record.admintel != null" >
        ADMINTEL = #{record.admintel,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update administrator
    set ID = #{record.id,jdbcType=INTEGER},
      ADMINID = #{record.adminid,jdbcType=VARCHAR},
      ADMINUSERID = #{record.adminuserid,jdbcType=VARCHAR},
      ADMINPASSWORD = #{record.adminpassword,jdbcType=VARCHAR},
      ADMINREALNAME = #{record.adminrealname,jdbcType=VARCHAR},
      ADMINEMAIL = #{record.adminemail,jdbcType=VARCHAR},
      ADMINTEL = #{record.admintel,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hnist.graduation.entity.Administrator" >
    update administrator
    <set >
      <if test="adminid != null" >
        ADMINID = #{adminid,jdbcType=VARCHAR},
      </if>
      <if test="adminuserid != null" >
        ADMINUSERID = #{adminuserid,jdbcType=VARCHAR},
      </if>
      <if test="adminpassword != null" >
        ADMINPASSWORD = #{adminpassword,jdbcType=VARCHAR},
      </if>
      <if test="adminrealname != null" >
        ADMINREALNAME = #{adminrealname,jdbcType=VARCHAR},
      </if>
      <if test="adminemail != null" >
        ADMINEMAIL = #{adminemail,jdbcType=VARCHAR},
      </if>
      <if test="admintel != null" >
        ADMINTEL = #{admintel,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hnist.graduation.entity.Administrator" >
    update administrator
    set ADMINID = #{adminid,jdbcType=VARCHAR},
      ADMINUSERID = #{adminuserid,jdbcType=VARCHAR},
      ADMINPASSWORD = #{adminpassword,jdbcType=VARCHAR},
      ADMINREALNAME = #{adminrealname,jdbcType=VARCHAR},
      ADMINEMAIL = #{adminemail,jdbcType=VARCHAR},
      ADMINTEL = #{admintel,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>