@charset "utf-8";
/* CSS Document */
#prepage{ margin-top:10px; height:20px;}
#banner{margin-top:10px;}
#content{ padding-top:20px;}
#input_info{margin-top:30px;padding:10px; margin-bottom:40px;}
#bottom{margin-top:60px;}